@model List<ShopProject.Models.Category>
@{
    ViewBag.Title = "Список";
}
<a class="btn btn-primary" asp-action="Create">Добавить</a>
<table class="table">
   <thead>

    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
   </thead>
    <tbody>
        
    @foreach (var item in Model)
    {
        <tr>
            
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <a href="~/Category/Edit?id=@item.Id">Изменить</a>
                <a href="~/Category/Delete?id=@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>
